{{ form_start(form) }}
<section class="my-custom-class-for-errors">
	{{ form_errors(form) }}
</section>
<section class="kawaii-contract-form add-company">
	<section class="kawaii-contract-structure preambule add-company">
		<section class="kawaii-contract-structure-container add-company">
			<div class="kawaii-contract-structure-inputs add-company">
				{{ form_label(form.name, "Nom de l'entreprise") }}
				{{ form_widget(form.name) }}
				{{ form_label(form.activity, "Activité de l'entreprise") }}
				{{ form_widget(form.activity) }}
				{{ form_label(form.numberRegistration, 'Numéro RCS') }}
				{{ form_widget(form.numberRegistration) }}
				{{ form_label(form.legalRepresentative, 'Représentant légal') }}
				{{ form_widget(form.legalRepresentative) }}
				<button class="button-submit add-company">{{ button_label|default('Ajouter') }}</button>

			</div>
			<div class="kawaii-contract-structure-inputs add-company">
				{{ form_label(form.address, 'Siège social') }}
				{{ form_widget(form.address) }}
				{{ form_label(form.zipCode, 'Code postal') }}
				{{ form_widget(form.zipCode) }}
				{{ form_label(form.city, 'Ville') }}
				{{ form_widget(form.city) }}
				{{ form_label(form.country, 'Pays') }}
				{{ form_widget(form.country) }}
				<a class="button-back add-company" href="{{ path('company_list') }}">Retour</a>
			</div>
		</section>
	</section>
</section>
{{ form_end(form) }}
