{% extends 'base.html.twig' %}

{% block title %}Connectez-vous
{% endblock %}

{% block body %}

	<form action="{{ path('login') }}" method="post">
		<section class="kawaii-contract-form login">
			<h1 class="kawaii-contract-main-title login">Connectez-vous</h1>
			{% if error %}
				<ul>
					<li class="kawaii-contract-login-errors">{{ error.messageKey|trans(error.messageData, 'security') }}</li>
				</ul>
			{% endif %}
			<section class="kawaii-contract-structure preambule login">
				<section class="kawaii-contract-structure-container login">
					<div class="kawaii-contract-structure-inputs login">
						<label for="username">Email:</label>
						<input type="text" id="username" name="_username" value="{{ last_username }}"/>
						<label for="password">Mot de passe:</label>
						<input type="password" id="password" name="_password"/>
						<input
						type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
						{# If you want to control the URL the user is redirected to on success #}
						<input type="hidden" name="_target_path" value="{{ path('admin') }}"/>
						<button type="submit" class="button-submit login">Connexion</button>
						<a class="button-back login" href="{{ path('admin') }}">Retour</a>
					</section>
				</section>
			</section>
		</form>
	{% endblock %}
