{{ form_start(form) }}
<section class="my-custom-class-for-errors">
	{{ form_errors(form) }}
</section>
<section class="kawaii-contract-form add-category">
	<section class="kawaii-contract-structure preambule add-category">
		<h2 class="kawaii-contract-title-structure add-category">Préambule</h2>
		<section class="kawaii-contract-structure-container add-category">
			<div class="kawaii-contract-structure-inputs add-category">
				{{ form_label(form.name, 'Nom de la catégorie') }}
				{{ form_widget(form.name) }}
				{{ form_label(form.color, 'Couleur') }}
				{{ form_widget(form.color) }}
				{{ form_label(form.description, 'Description et remarques') }}
				{{ form_widget(form.description) }}
				<button class="button-submit add-category">{{ button_label|default('Ajouter') }}</button>
				<a class="button-back add-category" href="{{ path('admin') }}">Retour</a>
			</div>
		</section>
	</section>
</section>
{{ form_end(form) }}
